/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../../_compass/screen.scss */
a {
  -moz-transition: color, 1s, linear, 0.28s;
  -o-transition: color, 1s, linear, 0.28s;
  -webkit-transition: color, 1s, linear, 0.28s;
  transition: color, 1s, linear, 0.28s;
}

/* line 12, ../../_compass/screen.scss */
a:hover,
a:focus {
  -moz-transition: color, 1s, linear, 0.28s;
  -o-transition: color, 1s, linear, 0.28s;
  -webkit-transition: color, 1s, linear, 0.28s;
  transition: color, 1s, linear, 0.28s;
}

@-moz-keyframes breath {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  40% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  80% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@-webkit-keyframes breath {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes breath {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  20% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  40% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  60% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  80% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* line 38, ../../_compass/screen.scss */
.breath {
  position: relative;
  top: -2px;
  color: #e8806a;
  -moz-transform-origin: 0 0 50%;
  -ms-transform-origin: 0 0 50%;
  -webkit-transform-origin: 0 0 50%;
  transform-origin: 0 0 50%;
  -moz-animation: breath 4s linear 1s infinite alternate;
  -webkit-animation: breath 4s linear 1s infinite alternate;
  animation: breath 4s linear 1s infinite alternate;
}
