---
layout: page
classes: categories
permalink: /categories/
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date:
'%Y'" %} {% for year in postsByYear %}
<div class="categories-year">
  <h1 class="categories-year__title text-left">{{year.name}}</h1>
  {% for post in year.items %}
  <article
    aria-label="Article list"
    class="categories-year__item article-list-item radius"
  >
    <a href="{{ post.url }}" class="categories-year__link article-link">
      <h3 class="categories-year__post-title article-title font-oswald">
        {{ post.title }}
      </h3>
      <small class="categories-year__date article-date font-playfair">
        {{ post.date | date_to_string }}
      </small>
    </a>
  </article>
  {% endfor %}
</div>
{% endfor %}
