<!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header class='header offset-top-50'>
    <div class='navbar navbar-default' role='navigation'>
        <div class='container'>
            <div class='navbar-header'>
                <button class='navbar-toggle' data-target='.navbar-collapse' data-toggle='collapse' type='button'>
                    <span class='sr-only'>Toggle navigation</span>
                    <i class='fa fa-bars'></i>
                </button>
                <a class="navbar-brand offset-top-10" href="/">coskuntekin</a>
            </div>
            <div class='collapse navbar-collapse'>
                <ul class='nav navbar-nav navbar-right'>
                    <li>
                        <a href="/"><i class='fa fa-home fa-3x'></i></a>
                    </li>
                    <li>
                        <a href="/about-me/"><i class='fa fa-coffee fa-3x'></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/coskuntekin"><i class='fa fa-github-square fa-3x'></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/coskuntekin"><i class='fa fa-twitter-square fa-3x'></i></a>
                    </li>
                    <li>
                        <a href="http://coskuntekin.tumblr.com"><i class='fa fa-tumblr-square fa-3x'></i></a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/coskuntekin"><i class='fa fa-flickr fa-3x'></i></a>
                    </li>
                </ul>
            </div>
            <hr class='no-margin'>
        </div>
    </div>
</header>