<header class="container">
    <div class="page-header">
        <a href="/" class="brand">
            coskuntekin
        </a>
        <nav class="navigation">
            <ul class="nav-section">
                <li>
                    <a href="/about-me">about</a>
                </li>
                <li>
                    <a href="https://github.com/coskuntekin">github</a>
                </li>
                <li>
                    <a href="https://twitter.com/coskuntekin">twitter</a>
                </li>
                <li>
                    <a href="http://coskuntekin.tumblr.com">tumblr</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
