//------------------------------------
// # Categories Page Styles
//------------------------------------

.page-container {
  padding-top: 40px;
  padding-bottom: 80px;
}

.categories-year {
  max-width: 800px;
  margin-inline: auto;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  --categories-curve-height: 80px;
}

.categories-year__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 10px;
  text-decoration: none;
  color: black;
}

.categories-year {
  width: 100%;
}

.categories-year__item {
  display: flex;
}

.categories-year__post-title {
  margin-bottom: 0;
}

.categories-year__svg {
  display: block;
  width: 100%;
  height: var(--categories-curve-height);
  max-height: 180px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .categories-year {
    --categories-curve-height: 56px;
  }
}

@media (min-width: 1200px) {
  .categories-year {
    --categories-curve-height: 110px;
  }
}
