// ------------------------------------
// # Page Layout
// ------------------------------------

.page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.page-article {
  background-color: var(--palette-white);
  padding: 30px;
  border-radius: 8px;
  max-width: 800px;
  margin-inline: auto;
  box-sizing: border-box;
}

.page-title {
  font-size: 2.5em;
  color: var(--palette-dark-text);
  margin-bottom: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.page-content {
  line-height: 1.6;
  color: var(--palette-light-text);
  font-family: "Playfair Display", serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--palette-dark-text);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-bottom: 1em;
    margin-left: 20px;
  }

  a {
    color: var(--palette-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
  }
}
