//------------------------------------
// # Single-Page
//------------------------------------

.post-container {
  max-width: 800px;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
}

.post-article {
  background-color: var(--palette-white);
  margin: 20px auto;
  box-sizing: border-box;
}

.post-title {
  font-size: 2.5em;
  color: var(--palette-dark-text);
  margin-bottom: 10px;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.post-meta {
  text-align: center;
  margin-bottom: 20px;
  color: var(--palette-medium-text);
}

.post-date {
  font-size: 0.9em;
}

.post-content {
  line-height: 1.6;
  color: var(--palette-light-text);
  font-family: "Playfair Display", serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--palette-dark-text);
    margin-top: 1.5em;
    margin-bottom: 0.8em;
  }

  p {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-bottom: 1em;
    margin-left: 20px;
  }

  a {
    color: var(--palette-blue);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
  }
}
